@model IEnumerable<DinosParking.Models.ParkingSpot>

@{
    ViewData["Title"] = "Index";
}

<h1>Live parking spots overview</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!--<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Occupant_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Occupant_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>-->
<div class="card-columns">
    @foreach (var item in Model)
    {
    string card_color = "success";
    if (item.Occupant_Id != null) {
        card_color = "danger";
    }
    <div class="card text-white bg-@card_color mb-3" style="max-width: 18rem;">
      <div class="card-header">@Html.DisplayFor(modelItem => item.Id)</div>
      <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Occupant_Id)</h5>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
      </div>
    </div>
    }
</div>